.emoji-wrapper {
    position: relative;
    width: 95vw;
    height: 90vh;
}
.emoji-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: pink;
    z-index: -1;
}

.emoji {
    position: absolute;
    font-size: 5rem;
    color: rgb(252, 231, 235);
}